.pagination {
  display: flex;
  gap: 10px;
  margin-top: 25px;
  justify-content: center;
}

.pagination button {
  padding: 8px 14px;
  border: 1px solid #334155;
  border-radius: 8px;
  background: #1e293b;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.pagination button:hover {
  background: #22c55e;
  color: black;
}

.pagination .active {
  background: #22c55e;
  color: black;
}